*{
    margin: 0;
    padding: 0;
    font-family: 'Arial Narrow Bold', sans-serif;
    --main-color: rgb(167, 214, 255);
    
}


.header{
    text-align: center;
    font-size: 5vw;
    color: var(--main-color);
}

.foodpic{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1rem;
}

.dummy{
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 1rem;
    border: .1rem solid var(--main-color);
}