*{
    margin: 0;
    padding: 0;
    font-family: 'Arial Narrow Bold', sans-serif;
    --main-color: rgb(167, 214, 255);
    
}



.header{
    text-align: center;
    font-size: 5vw;
    color: var(--main-color);
}

.foodpic{
    display: flex;
    
}
